  {% extends 'back.html.twig' %}
{% block body %}

    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

    <h1>CodePromo </h1>

    <form method="get" action="{{ path('app_code_promo_index') }}" id="searchForm">
        <label for="search">Search Value :</label>
        <input type="text" id="search" name="search" value="{{ app.request.get('search') }}">

    </form>
            <table class="table" border="1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Valeur</th>
                <th>Date d'expiration</th>
                <th>details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for code_promo in code_promos %}
            <tr>
                <td>{{ code_promo.id }}</td>
                <td>{{ code_promo.code }}</td>
                <td>{{ code_promo.valeur }}</td>
                <td>{{ code_promo.datexpiration ? code_promo.datexpiration|date('Y-m-d') : '' }}</td>
                <td><a href="{{ path('app_code_promo_show', {'id': code_promo.id}) }}">show</a></td>
                <td><a href="{{ path('app_code_promo_edit', {'id': code_promo.id}) }}">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>


<div class="text-right">
    <a href="{{ path('app_code_promo_new') }}">Add New</a>
    <a href="{{ path('app_code_promo_statistics') }}" class="btn btn-info">View Statistics</a>
</div>

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Trigger the search when typing in the search input
            $('#search').on('input', function () {
                performSearch();
            });

            // Perform the search and update the results
            function performSearch() {
                var searchValue = $('#search').val();

                $.ajax({
                    url: '{{ path('app_code_promo_index') }}',
                    type: 'get',
                    data: {
                        search: searchValue
                    },
                    success: function (response) {
                        $('.table tbody').html(response);
                    },
                    error: function (error) {
                        console.error('AJAX request failed', error);
                    }
                });
            }
        });
    </script>
{% endblock %}