{% extends 'baseback.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block main %}
    <h1 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">List of vehicles</h1>
    
        <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Type of vehicle</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.matricule }}</td>
                <td>{{ vehicule.typeVehicule }}</td>
                <td>{{ vehicule.marqueVehicule }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'matricule': vehicule.matricule}) }}">Show</a>
                    <a href="{{ path('app_vehicule_edit', {'matricule': vehicule.matricule}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
     </table>


    <div style="text-align: center;">
    <a href="{{ path('app_vehicule_new') }}">Create new</a>
    </div>
{% endblock %}
