{% extends '/template/baseback.html.twig' %}

{% block title %}Remboursement index{% endblock %}

{% block main %}
    <h1>Remboursement index</h1>

    <div class="body-container">
        <div class="form-container">
            <form method="get" action="{{ path('app_remboursement_index') }}" style="margin-bottom: 20px;">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="search" class="form-control" placeholder="Search" id="myInput">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant_rembour</th>
                <th>Date_rembour</th>
                <th>Id_rec</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% if remboursements is not empty %}
                {% for remboursement in remboursements %}
                    {% if app.request.query.get('search') is empty or
                          app.request.query.get('search') in [remboursement.id] or
                          app.request.query.get('search') in [remboursement.montantRembour] %}
                        <tr>
                            <td>{{ remboursement.id }}</td>
                            <td>{{ remboursement.montantRembour }}</td>
                            <td>{{ remboursement.dateRembour ? remboursement.dateRembour|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ remboursement.idRec }}</td>
                            <td>
                                <a href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}">show</a>
                                <a href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_remboursement_new') }}">Create new</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $("#myTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
{% endblock %}
