{% extends 'backbase.html.twig' %}

{% block title %}Agence{% endblock %}

{% block body1 %}
    <h1>Agence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>NomAgence</th>
                <td>{{ agence.nomAgence }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ agence.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ agence.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ agence.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agence_index') }}">back to list</a>

    <a href="{{ path('app_agence_edit', {'id': agence.id}) }}">edit</a>

    {{ include('agence/_delete_form.html.twig') }}
{% endblock %}
