{% extends 'back.html.twig' %}


{% block body %}

    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>


<h1>Users List </h1>
    <form method="get" action="{{ path('app_user_index') }}" id="searchForm">
        <label for="searchAttribute">Search by:</label>
        <select id="searchAttribute" name="searchAttribute">
            <option value="Name">Name</option>
            <option value="isVerified">Verified</option>
            <option value="email">Email</option>
            <option value="CIN">CIN</option>
            <!-- Add other attributes as needed -->
        </select>
        <label for="search">Search Value :</label>
        <input type="text" id="search" name="search" value="{{ app.request.get('search') }}">
    </form>

    <table class="table" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cin</th>
            <th>Verified</th>

            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>details</th>
            <th>Edit</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.isVerified() ? 'Yes' : 'No' }}</td>

                <td>{{ user.Name }}</td>

                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td><a href="{{ path('app_user_show', {'id': user.id}) }}">show</a></td>
                <td> <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('app_user_new') }}" class="btn btn-link">New User</a>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery.js"></script>


    <script>
        $(document).ready(function () {
            // Trigger the search when typing in the search input or changing the attribute selection
            $('#search, #searchAttribute').on('input change', function () {
                performSearch();
            });

            // Perform the search and update the results
            function performSearch() {
                var searchValue = $('#search').val();
                var searchAttribute = $('#searchAttribute').val();

                $.ajax({
                    url: '{{ path('app_user_index') }}',
                    type: 'get',
                    data: {
                        search: searchValue,
                        searchAttribute: searchAttribute
                    },
                    success: function (response) {
                        $('.table tbody').html(response);
                    },
                    error: function (error) {
                        console.error('AJAX request failed', error);
                    }
                });
            }
        });
    </script>

{% endblock %}